ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: medium;
    font-display: white;
}